version: 2.1

executors:

  build:

    machine:

      image: ubuntu-2004:202111-02

    resource_class: large

jobs:

  build:

    docker:

      - image: marvelmathesh/docker:rom

    steps: 

      - run:

          name: Shell-bot

          command: git clone https://github.com/yash1375/circle-sh aalo

                            cd aalo
                            
                            bash bot.sh

          no_output_timeout: 6h
